/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body
  background-color #5d5d60 !important
  color #FFFFFF !important

footer.footer
  background linear-gradient(90deg, #7a01ff, #641ec1) !important

.blog-title
  color #7a01ff !important

header.shadow
  background-color #120b0b !important

.el-menu
  background-color #120b0b !important

.el-menu-item
  color #FFFFFF !important

.el-menu-item:focus, .el-menu-item:hover
  background-color #7a01ff !important

.vuepress-toc .vuepress-toc-item a
  color: #FFFFFF !important

.vuepress-toc .vuepress-toc-item.active a
  color: #7a01ff !important