/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #7a01ff
$secondaryColor = #641ec1
$textColor = #FFFFFF
$borderColor = #eaecef
$codeBgColor = #282c34
